.container{
    
    background: #121212;
    border-radius: 6px 6px 0 0 ;
    height: 70px;
    margin-top: 1em;
    margin-left: 4px;   
    width: 98.5%;
   
       
}



.header img{
    padding-top: 1.6em;
    padding-left: 2em;
    float: left
}

.login{
    float: left;
    width: 87%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0.7em;
    
}

.login p {
    color: #A7A7A7;
}

.login button{
    width: 100px;
    height: 50px;
    border-radius: 50px;
    margin-left: 40px;
    
}