.App{
    display: flex;
    margin: auto;
    background: grey;
}

.sidebar{
    flex: 0 100%;
    height: 700px;
    background: gold;

}

.content{
    background: cornflowerblue;
    flex: 0 100%;
}

footer{
    background: gray;
    height: 83px;
}

@media(min-width: 600px){
    .sidebar{
        flex: 0 0 200px;
    }

    .content{
        flex: 1 0 0px;
    }
}