.container{
    background: #242424;
    border-radius: 0 0 12px 12px;
    height: 83.5%;
    margin-left: 4px;
    width: 98.5%;;
    margin-bottom: 15px;

}
.escrito{
    display: flex;
    float: left;
    color: #FFFFFF;
    width: 45%;
    font-family: "Figtree", sans-serif;
    padding: 10px;
}

.escrito2{  
    display: flex;
    float: left;
    color: #B3B3B3;
    width: 50%;
    justify-content: flex-end;
    font-family: "Figtree", sans-serif;
    padding: 15px 10px 10px 15px;
}